@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./components/Header/Header.css);
@import url(./components/NavElement/NavElement.css);
@import url(./components/Navbar/Navbar.css);
@import url(./components/SearchCatalog/SearchCatalog.css);
@import url(./components/Main/Main.css);
@import url(./components/BasketForm/BasketForm.css);
@import url(./components/Checkbox/Checkbox.css);
@import url(./components/List/List.css);
@import url(./components/ListItem/ListItem.css);
@import url(./components/Footer/Footer.css);
@import url(./components/Sidebar/Sidebar.css);
@import url(./components/NavbarMobile/NavbarMobile.css);
@import url(./components/DeliveryContainer/DeliveryContainer.css);
@import url(./components/Popup/Popup.css);

body {
    font-family: Segoe UI, Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
}
